 /* *********************************************** */
     /* scrip do login */

     body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(to top, #323232, #080808);
        font-family: Arial, sans-serif;
        margin: 0;
    }
    .login-container {
        background: #00000064;
        padding: 16px;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        width: 512px;
        color: white;
        text-align: center;
    }
    .login-container h2 {
        margin-bottom: 32px;
    }
    .input-field {
        width: 80%;
        padding: 8px;
        margin: 8px 0;
        border: 2px solid #ccc;
        border-radius: 4px;
    }
    .login-button {
        width: 20%;
        padding: 8px;
        background: #161616;
        color: gray;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    .login-button:hover {
        background: orange;
        color: black
    }


    /* estilizaçao do h1 da pagina login */
    h1{
        text-align:center;
        margin-left:32px;
    }